qc-charts {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: start;

  overflow: hidden;

  position: relative;
  height: 100vh;

  qc-chart-container {
    position: relative;
    overflow: hidden;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;

    &.active {
      flex-grow: 1;

      > header a.minimize {
        background-color: darken($pane-background-color, 5%);
      }
    }

    &:first-child {
      > header {
        border-top: none;
      }
    }

    > header {
      position: relative;
      overflow: hidden;

      min-height: 27px;
      height: 27px;
      background-color: $pane-background-color;

      width: 100%;

      white-space: nowrap;
      text-overflow: ellipsis;

      border-top: 3px solid $pane-border-color;

      a {
        &.tab {
          display: inline-block;

          line-height: 27px;
          font-size: 11.5px;
          text-decoration: none;

          padding-left: 8px;
          padding-right: 8px;
          margin-right: 3px;

          color: black;

          &:hover {
            background-color: darken($pane-background-color, 10%);
          }

          &.active {
            background-color: lighten($pane-background-color, 50%);
          }
        }
        &.minimize {
          position: absolute;
          right: 0px;

          width: 27px;
          height: 27px;
          background-color: lighten($pane-background-color, 50%);

          &::after {
            content: "";
            position: absolute;
            mask-size: 50% 50%;
            mask-repeat: no-repeat;
            mask-position: center;
            background-color: $icon-color;
            width: 100%;
            height: 100%;

            mask-image: icon("close_fullscreen/v2");
          }
        }
      }
    }

    > .collapse {
      display: none;

      &.active {
        display: block;

        flex: 1;
      }
    }
  }

  .entries {
  }

  qc-mosaic-plot {
    position: relative;

    > .container {
      position: absolute;
      height: 100%;
      width: 100%;

      padding-left: 12px;
      padding-right: 12px;

      display: flex;
      flex-direction: row;

      > .block {
        margin-right: 12px;
        &:last-child {
          margin-right: 0px;
        }

        > header {
          border-bottom: 1px solid $plot-line-color;

          font-size: 11.5px;
          line-height: 24px;
          white-space: nowrap;

          overflow: hidden;

          .caption {
            display: inline-block;
            margin-right: 10px;
          }

          .info {
            display: inline-block;
          }
        }

        > .container {
          line-height: 10px;
          vertical-align: middle;

          a.point {
            display: inline-block;

            height: 8px;
            width: 8px;

            background-color: darken($pane-border-color, 25%);

            margin: 0 2px 0 0;

            ul.entries {
              display: none;
            }

            &:hover ul.entries {
              display: block;
              position: fixed;
            }
          }
        }
      }
    }
  }

  qc-box-plot {
    position: relative;

    > .container {
      position: absolute;
      height: 100%;
      width: 100%;

      padding-left: 12px;
      padding-right: 12px;

      display: flex;
      flex-direction: column;

      overflow: hidden;

      .overflow {
        display: none;

        &::after {
          content: "Warning: Not all points are visible!";
          color: darken($pane-border-color, 25%);
          font-size: 10.5px;
          line-height: 18px;
          text-align: center;

          width: 100%;
        }

        &.active {
          position: absolute;

          display: flex;
          flex-direction: column;

          height: 18px;
          width: 100%;
          background-color: #fafafa;
          left: 0;
          top: 0;

          z-index: 10;
        }
      }

      > .points {
        width: 100%;
        flex-grow: 1;

        position: relative;

        a.point {
          display: inline-block;

          position: absolute;

          height: 8px;
          width: 8px;

          transform: translateX(-4px);

          background-color: darken($pane-border-color, 25%);
          border-radius: 4px;

          margin-right: 2px;

          ul.entries {
            display: none;
          }
          &:hover {
            z-index: 2;
            ul.entries {
              display: block;
              position: absolute;
            }
          }
        }
      }

      > .box {
        margin-top: 6px;
        margin-bottom: 6px;
        height: 18px;

        position: relative;

        > .box {
          position: absolute;
          top: 0px;

          display: block;

          height: 100%;

          border: 1px solid $plot-line-color;
        }

        > .whisker {
          position: absolute;
          top: 0px;

          display: block;

          height: 100%;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 50%;
            border-bottom: 1px solid $plot-line-color;
          }

          &.left {
            border-left: 1px solid $plot-line-color;
          }
          &.right {
            border-right: 1px solid $plot-line-color;
          }
        }
      }

      > .axis {
        position: relative;

        height: 24px;
        margin-bottom: 6px;
        width: 100%;

        display: flex;

        border-top: 1px solid $plot-line-color;

        .tick {
          flex: 1 1 0px;

          display: inline-block;

          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 4px;

            border-left: 1px solid $plot-line-color;
          }

          .label {
            display: inline-block;
            width: 100%;

            position: absolute;
            left: -50%;

            font-size: 11.5px;
            line-height: 20px;
            vertical-align: bottom;
            text-align: center;
          }
          &:first-child {
            .label {
              left: auto;
              text-align: left;
            }
          }
          &:last-child {
            position: absolute;
            width: 100%;

            &::after {
              content: "";
              width: calc(100%-1px);
              position: absolute;
              left: 0;
              top: 0;
              height: 4px;

              border-right: 1px solid $plot-line-color;
            }

            .label {
              left: 0;
              text-align: right;
            }
          }
        }
      }
    }
  }
}
