.image-list-item
  header
    .sub(ref="subLabel")
    .task(ref="taskLabel")
    .run(ref="runLabel")
    .sources.expandable(ref="sourcesLabel")
  img(ref="image")
  footer
    .segmented-control.rating(ref="ratingContainer")