
$dark-blue: #224099;

$dark-blue-5: lighten($dark-blue, 5%);
$dark-blue-10: lighten($dark-blue, 10%);
$dark-blue-15: lighten($dark-blue, 15%); 
$dark-blue-20: lighten($dark-blue, 20%); 
$dark-blue-25: lighten($dark-blue, 25%); 
$dark-blue-30: lighten($dark-blue, 30%); 