@import-normalize;

@import "./menu-bar.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}