name: continuous integration

on:
  push:
    branches: 
      - master 
  pull_request:
    branches: 
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with: 
          node-version: "15.x"

      - run: npm ci

      - run: npm run build

      - uses: actions/upload-artifact@v2
        with:
          name: index.html
          path: dist/index.html

      - run: npm test
     
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage/clover.xml
          fail_ci_if_error: true 
